/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as fs from "fs";
import * as Vectara from "../../../../index.js";
import * as core from "../../../../../core/index.js";

/**
 * @example
 *     {
 *         file: fs.createReadStream("/path/to/your/file")
 *     }
 */
export interface UploadFileRequest {
    /**
     * The API will make a best effort to complete the request in the specified seconds or time out.
     */
    "Request-Timeout"?: number;
    /**
     * The API will make a best effort to complete the request in the specified milliseconds or time out.
     */
    "Request-Timeout-Millis"?: number;
    /** Arbitrary object that will be attached as document metadata to the extracted document. */
    metadata?: Record<string, unknown>;
    chunking_strategy?: Vectara.ChunkingStrategy;
    table_extraction_config?: Vectara.TableExtractionConfig;
    /** Optional multipart section to override the filename. */
    filename?: string;
    file: core.file.Uploadable.FileLike;
}
